{% load static %}
<script src="{% static 'js/order_static.js' %}"></script>

<div>
    <form action="{% url "orders:list" %}" id="search">

        <div class="row mt-3 mb-5 p-2">
            <input class="col-8 p-3" type="text" name="search_order_id" id="search_order_id"
                   placeholder="Digite o número da comanda">
            <button class="col-2 btn btn-secondary" type="submit">Procurar</button>
            <button class="col-2 btn btn-outline-danger" onclick="location.reload()">Limpar</button>
        </div>

    </form>
</div>

<div class="mt-4">
    {% for order in sale_order %}
        <a href="{% url "orders:detail_retrieve" reference=order.reference is_editing=True %}" class="card my-3 p-3"
           style="border-left: 8px solid {% if order.consumer != "None" %}#0f0{% else %}#aaa{% endif %}">
            {{ order.reference }}
            {{ order.consumer }}
        </a>
    {% endfor %}
</div>
