{% load static %}
<script src="{% static 'js/order_static.js' %}"></script>

<div>
    <form action="{% url "orders:list" %}" id="search">

        <div class="d-grid gap-2 d-md-flex justify-content-md-between">
            <input class="p-3 w-100" type="text" name="search_order_id" id="search_order_id"
                   placeholder="Digite o número da comanda">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-secondary" type="submit">Procurar</button>
                <button class="btn btn-outline-danger" onclick="location.reload()">Limpar</button>
            </div>
        </div>
    </form>
</div>

<div class="mt-4">
    {% for order in sale_order %}
        <a href="{% url "orders:detail_retrieve" reference=order.reference is_editing=True %}"
           class="card my-3 p-3 text-decoration-none text-reset"
           style="border-left: 8px solid {% if order.consumer %}#3bb143{% else %}#aaa{% endif %}">
            {{ order.reference }}
            {% if order.consumer %}
                {{ order.consumer }}
            {% endif %}
        </a>
    {% endfor %}
</div>
