{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}
        <title>Comanda tech</title>
    {% endblock title %}
</head>
<body style="background: #eaeaea">


<div class="container mt-4 d-flex justify-content-between mb-4">
    <h1 class="text-muted d-flex justify-context-start gap-3">
        Comanda Tech
    </h1>

    <a class="btn btn-sm btn-warning h-100" href="/accounts/logout?next=/">Sair</a>
    <a class="btn btn-sm btn-warning h-100" href="/accounts/login?next=/">Login</a>
</div>

<div class="container">

    <nav>
        <ul>
            <li><a href="{% url "home" %}">Página inicial</a></li>
            <li><a href="{% url "orders:list" %}">Comandas</a></li>
            <li><a href="{% url "accountant:index" %}">Contabilidade</a></li>
        </ul>
    </nav>

    {% block body %}
    {% endblock body %}
</div>


</body>
</html>
