{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}
        <title>Comanda tech</title>
    {% endblock title %}
</head>
<body style="background: #eaeaea">


<div class="container mt-4 d-flex justify-content-between mb-4">
    <h1 class="text-muted d-flex justify-context-start gap-3">
        Comanda Tech
    </h1>

    {% if request.user.is_authenticated %}
        <a class="btn btn-sm btn-warning h-100" href="/accounts/logout?next=/">Sair</a>
    {% else %}
        <a class="btn btn-sm btn-warning h-100" href="/accounts/login?next=/">Login</a>
    {% endif %}
</div>

<div class="container">
    {% if request.user.is_authenticated %}
        <nav class="navbar navbar-expand-lg mb-4">
            <ul class="navbar-nav gap-2">
                <li class="nav-item"><a class="btn btn-sm btn-outline-secondary" href="{% url "home" %}">Página
                    inicial</a></li>
                <li class="nav-item"><a class="btn btn-sm btn-outline-secondary"
                                        href="{% url "orders:list" %}">Comandas</a></li>
                <li class="nav-item"><a class="btn btn-sm btn-outline-secondary" href="{% url "accountant:index" %}">Contabilidade</a>
                </li>
            </ul>
        </nav>
    {% endif %}

    {% block body %}
    {% endblock body %}
</div>


</body>
</html>
