{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}
        <title>Comanda tech</title>
    {% endblock title %}
</head>
<body style="background: #eaeaea">


<div class="container-fluid mt-4 d-flex justify-content-between mb-4">
    <h1 class="text-muted">Comanda Tech</h1>
    <button onclick="window.history.back()" class="btn btn-small btn-outline-secondary">Voltar</button>
</div>

{% block body %}
{% endblock body %}

</body>
</html>
