{% extends "main.html" %}
{% load static %}

{% block title %}
    <title>{{ id }} - Editing</title>
{% endblock title %}

{% block body %}
    <script src="{% static "js/order_static.js" %}"></script>
    <form method="post" action="{% url "orders:detail_retrieve" reference=order_sale.reference is_editing=True %}">
        {% csrf_token %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-between align-items-center mb-4">
            <div class="d-flex gap-2 align-items-center">
                <a href="/orders/" class="btn btn-sm btn-secondary mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="20px"
                         fill="#fff">
                        <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/>
                    </svg>
                    Voltar
                </a>
                <h2>
                    Entrega de itens
                </h2>
            </div>

            {% if is_sales %}
                <div class="d-grid gap-2 d-md-flex justify-content-end align-items-center">
                    <a href="{% url "orders:detail_editing_order" reference=order_sale.reference is_editing=True is_sales=True %}"
                       class="btn btn-primary">Editar Itens</a>
                </div>
            {% endif %}
            
        </div>
        <div class="mb-4">
            <h2><small class="text-muted">Nº:</small> {{ order_sale.reference }}</h2>
            <h3><small class="text-muted">Nome:</small> {{ order_sale.consumer }}</h3>
        </div>

        <div>
            <h2 class="mt-5 mb-4">Itens</h2>
            <ul class="row p-0 m-0">
                {% for order in purchased_items %}
                    {% if order.status == "paid" %}
                        <li class="row px-md-4 py-2 mx-auto mx-md-0 col-12 col-md-4">
                            <div class="card">
                                <div class="card-body gap-4 d-flex flex-column">
                                    <div class="d-flex gap-2  align-items-center w-100 justify-content-between">
                                        {# todo: create an after pseudolement here to place som X #}
                                        <input
                                                id="{{ order.id }}"
                                                name="status_{{ order.id }}"
                                                type="text"
                                                value="{{ order.status }}"
                                                hidden
                                                style="border:none; width: 100%;text-align: center">
                                        <span class="mb-0 w-100 p-0 fw-bold fs-1"> {{ order.item.name }}</span>
                                        <span class="mb-0 w-100 p-0 text-end">{{ order.item.price }} €</span>
                                    </div>

                                    <div class="d-grid gap-2">
                                        <button type="button"
                                                id="change-status_{{ order.id }}"
                                                onclick="handleChangeInputValue('{{ order.id }}', 'deliver' )"
                                                class="btn btn-success " style="font-size:1.8rem;line-height:100%;">
                                            Entregar item
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endif %}

                {% endfor %}
            </ul>
        </div>

        <div class="d-flex mt-4 justify-content-md-end justify-content-center gap-2">
            <button type="reset" class="btn btn-outline-danger w-50" onclick="location.reload()">Cancelar</button>
            <button type="submit" class="btn btn-primary w-50">Salvar</button>
        </div>

        <div class="p-3 pt-4 mt-4" style="color:#888; border: 1px solid #ddd; border-radius: 8px; background: #eee">
            <h2 class="mb-4 mt-0">Histórico</h2>
            <ul style="padding: 0">
                {% for order in purchased_items %}
                    {% if order.status == "retrieved" %}
                        <li class="row mt-3">
                            <div class="col">
                                <div class="d-flex gap-3 justify-content-between">
                                    <p class="mb-0">{{ order.item.name }} </p>
                                    <p class="mb-0"> {{ order.item.price }}</p>
                                    <p class="mb-0"> {{ order.updated_at }}</p>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </form>
{% endblock body %}
